@charset "utf-8";

:root {
  --app-main-color: #2020ff;
  /* color (example) */
  --color-black: #3f454d;
  --color-white: #e0e0e0;
  --color-yellow: #fbbe28;
  --color-gold: #ffd700;
  --color-fade: #252525;
  --color-focus: #454545;
  --color-text: #e0e0e0;
  --color-button: #252525;
  --color-label: #e0e0e0;
  /* size (example) */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --font-size: 18px;
}
:root[data-colormode="dark"] {
  --color-fade: #252525;
  --color-focus: #454545;
  --color-text: #e0e0e0;
}
:root[data-colormode="light"] {
  --color-fade: #dadada;
  --color-focus: #bababa;
  --color-text: #1f1f1f;
}

@media only screen and (prefers-color-scheme: light) {
  :root {
    --color-fade: #dadada;
    --color-focus: #bababa;
    --color-text: #1f1f1f;
  }
}

@media only screen and (max-width: 1920px) {
  .App {
    grid-template-rows: fit-content(32px) 1fr fit-content(32px);
    grid-template-columns: fit-content(20%) 1fr fit-content(20%);
    grid-template-areas:
      "hl hm hr"
      "main main nv"
      "ft ft ft";
  }
}

@media only screen and (max-width: 640px) {
  .App {
    grid-template-rows: fit-content(32px) 1fr fit-content(32px);
    grid-template-columns: 1fr 2fr fit-content(50%);
    grid-template-areas:
      "hl hl hr"
      "main main main"
      "ft ft ft";
  }
  .Header__middle {
    display: none !important;
    /* position: absolute !important;
    top: -9999px !important;
    left: -9999px !important; */
  }
  .Nav {
    display: none;
  }
  .Beta {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%; /* both html and head needs to be height 100% in order for proper display */
  background-color: var(--color-fade);
}
#root {
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  background-color: var(--color-fade);
  color: var(--color-text);
  font-size: 16px;
  display: grid;
  /* --app-main-color: #ffaaaa; */
  /* grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
.App[colormode="dark"] {
  --color-fade: #252525;
  --color-focus: #454545;
  --color-text: #e0e0e0;
}
.App[colormode="light"] {
  --color-fade: #dadada;
  --color-focus: #bababa;
  --color-text: #1f1f1f;
}
.Header {
  margin: 0;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* height: 100%; */
  background-color: var(--color-focus);
}
.Header__hamburger {
  font-family: sans-serif;
}
.Header__logo,
.header--logo {
  font-family: fantasy;
}
.Header__left,
.header__left {
  /* grid-row: 1 / 2;
  grid-column: 1 / 3; */
  grid-area: hl;
  text-align: left;
}
.Header__middle,
.header__middle {
  /* display: none; */
  /* grid-row: 1 / 2;
  grid-column: 3 / 10; */
  grid-area: hm;
  text-align: center;
}
.Header__right,
.header__right {
  /* grid-row: 1 / 2;
  grid-column: 10 / 13; */
  grid-area: hr;
  /* max-width: 192px; */
  text-align: center;
}
.Nav {
  /* grid-row: 2 / 12; */ /* required to be disabled for scroll */
  /* grid-column: 10 / 13; */
  grid-area: nv;
  /* max-width: 192px; */
  background-color: var(--color-fade);
  text-align: center;
}
.Nav__featuredPosts,
.nav__featuredPosts {
  text-align: center;
}
.Nav__featuredPosts--padding {
  padding-left: 16px;
  padding-right: 16px;
}
.Footer {
  /* grid-row: 12 / 13;
  grid-column: 1 / 7; */
  grid-area: ft;
  background-color: var(--color-fade);
  /* margin: 2px; */
  padding: 2px;
}
.Beta {
  /* grid-row: 12 / 13;
  grid-column: 7 / 13; */
  grid-area: beta;
  background-color: var(--color-fade);
  /* max-width: 192px; */
}
.Beta__veil {
  background-color: rgb(255, 127, 255);
  grid-row: 1 / 13;
  grid-column: 1 / 13;
  opacity: 0.5;
}
.Main {
  background-color: var(--color-fade);
}
.Main__articles--padding {
  padding-left: 32px;
  padding-right: 32px;
}
.Article,
.focusBox {
  margin: 8px;
  padding: 4px;
  background-color: var(--color-focus);
  outline: solid 1px white;
}
.Article__title {
  font-weight: bold;
}
.Article__imageBox,
.Article__image_box,
.article__image_box {
  background-color: var(--color-focus);
  text-align: center;
}
.Article__image,
.article__image {
  max-width: 100%;
  max-height: 512px;
}
.Article__image--blur {
  /* background-color: black;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: #000000; */
  box-shadow: 0 0 80px 80px var(--color-focus) inset;
}
.alignCenter,
.centralize {
  text-align: center;
}
.button--focus,
.button--post,
.button--signup,
.focus--button,
.signup--button {
  background-color: var(--app-main-color);
  color: var(--color-label);
  text-align: center;
}
.corefunc {
  /* grid-row: 2 / 12; */ /* required to be disabled for scroll */
  /* grid-column: 1 / 10; */
  grid-area: main;
}
.LoginScreen,
.SignupScreen {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-fade);
}
.Uploader__pseudoForm,
.Uploader__form,
.uploader__form {
  background-color: var(--color-focus);
}
span {
  margin: 4px;
}
button,
.button--cancel,
.cancel--button,
.input--button,
.input--file {
  padding: 4px;
  background-color: var(--color-button);
  color: var(--color-label);
}
ul {
  list-style-position: outside;
  list-style-type: none;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
a {
  color: gold;
  accent-color: black;
}
